NET io7      	LOC = P01;
NET cas0     	LOC = P02;			
NET a15_13<2>	LOC = P03;
NET cas1     	LOC = P04;
NET clk      	LOC = P05;
NET bank<6>  	LOC = P06;
NET bank<7>  	LOC = P07;
NET a10      	LOC = P08;
NET cas2     	LOC = P09;
NET a12_11<1>	LOC = P11;
NET vda      	LOC = P12;
NET cas3     	LOC = P13;
NET phi0     	LOC = P14;
NET bank<3>  	LOC = P18;
NET phi1     	LOC = P19;
NET a15_13<1>	LOC = P20;
NET ras      	LOC = P22;

NET rw       	LOC = P24;
NET rom      	LOC = P25;
NET io6      	LOC = P26;
NET bank<0>  	LOC = P27;
NET io5      	LOC = P28;
NET bank<4>  	LOC = P29;
NET io4      	LOC = P33;
NET vpa      	LOC = P34;
NET io3      	LOC = P35;
NET a12_11<0>	LOC = P36;
NET io2      	LOC = P37;
NET io1      	LOC = P38;
NET bank<5>  	LOC = P39;
NET bank<2>  	LOC = P40;
NET bank<1>  	LOC = P42;
NET io0      	LOC = P43;
NET a15_13<0>	LOC = P44;